<div class="feedback-form">
  <form data-netlify="true" netlify-honeypot name="feedback" method="POST" action="/success">
    <p class="hidden">
      <label>
        Don’t fill this out if you’re human: <input name="bot-field" />
      </label>
    </p>
    Join our newsletter to get the latest updates.
    <input type="hidden" name="form-name" value="feedback" />
    <input id="email" type="email" name="email" required placeholder="Email" />
    <button type="submit">Submit</button>
  </form>
</div>

<style>
  .feedback-form {
    margin-top: 40px; 
    margin-bottom: 40px;
    min-width: 250px;
    width: 75%;
    color: #232323;
  }
  label {
    font-size: 16px;
  }
  input,
  textarea,
  button {
    border-radius: 5px;
    border: 1px solid #decbe1;
    font-size: inherit;
    margin: 15px 0;
    padding: 12px 20px;
    width: 100%;
  }
  button {
    background-color: #d946ef;
    border: 1px solid #d946ef;
    color: #fafafa;
    font-size: 16px;
    width: 50%;
  }
  .hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
</style>
